:root{
    --bg-main:#779164;
    --bg-sub:#184458;

    --text-main-color:#ffffff;
    --text-sub-color:#e1e1e1;

    --textbox-color:#4c64737f;
    --textbox-boder-color:#26526d7f;
    --textbox-sub-color:#1c4e6c;
    
    --about-bg-color:#184458;

    /* バックグラウンドカラー */
    --about-bg-color:#184458;
    --about-slide-bg-color:#000000;
    --about-slide--span--bg-color:#000000;
    --about-slide__title-bg-color:#909090;

}

*{
    transition: all 1s;
    margin: 0;
}
img{
    height: auto;
    width: 100%;
}
body{
    padding: 0;
    margin:0 ;
    display: inline-block;

    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
}
header{
    display: none;
}
main{
    background-color: var(--bg-main);
    width: 100vw;
    height: auto;
}


/* フォント */
.font--main{
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

/* .top-image{
} */

.top-image--body{
    width: 100%;
    height: 60vh;
    position: relative;
}
.top-image--body h1{
    font-size: 5em;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: var(--text-main-color);
}
.top-image__info--body{
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.top-image__info--box{
    background-color: var(--textbox-color);
    margin-bottom: 5px;
    padding: 2px 5px;
    position: relative;
    border-radius: 0 5px 5px 0;
    border: var(--textbox-boder-color) solid 2px;
    border-left: 0px;
    font-weight: 400;
    color: var(--text-sub-color);
}
.top-image__info--box-bo::after{
    content: "";
    width: 5px;
    height: calc(100% + (2 * 2px));
    border-radius: 5px 0 0 5px;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--textbox-sub-color);
}
.top-image__img-sec--box{
    height: 80vh;
    background-image: url(./src/img/top.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset  0 0 15px rgba(0, 0, 0, 0.5);
}
.top-image__messege--body{
    background-color: var(--about-bg-color);
    width: 100%;
    height: 80vh;
}
.top-image__messege--box{
    width: 10em;
    height: 20em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top-image__messege--box a{
    display: none;
    position: absolute;
    bottom: 4em;
    left: -5em;
}
.top-image__messege--text{
    writing-mode: vertical-rl;
    color: var(--text-main-color);
    line-height: 1.5em;
}

.about-sec{
    display:none;
}

.about-slide{
    width: 100vw;
    height: 200vh;
    background-color: var(--about-slide-bg-color);
}
.about-slide--body{
    width: 100%;
    height: 100%;
    position: relative;
}
.about-slide--box{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: sticky;
    top: 0;
    border-bottom: #4b4b4b 2px solid;
}
.about-slide__title{
    width: 100%;
    height: 100vh;
    background-color:var(--about-slide__title-bg-color);
}
.about-slide__title span{
    position: absolute;
    background-color: var(--about-slide--span--bg-color);
    width: 100%;
    height: 50px;
    z-index: 5;
}
.about-slide__title span:nth-child(1){
    top: 0;
}
.about-slide__title span:nth-child(2){
    bottom: 0;
}